@using Accounts
@{ ViewBag.Title = "General Settings"; }
@model Accounts.Models.ViewModels.Settings.GeneralSettingsViewModel

@Html.Partial("_Styles")
@Html.Partial("_Scripts")
<link rel="stylesheet" href="~/Content/css/Settings.css">
<script type="text/javascript" src="~/Content/js/Accounts.Settings.General.js"></script>

<div id="main" class="oh">
    @Html.Partial("_Header")   
    
    <div id="content" class="dt wFull">
        @Html.Partial("_Menu")

        <div id="right" class="dtc wFull">
            
            <div id="topPanel" class="dt wFull">
                <div class="dtc w50"><div id="ipadMenu"></div></div>
                <div class="dtc">GENERAL SETTINGS</div>
            </div>

            <div class="generalSettings m100l p50b">
                <div class="oh p45t">
                    <div class="fl m50r w200">CREATE COMPANY NAME</div>
                    <div class="fl">
                        <div class="m20b"><input id="newCompany" type="text" maxlength="18" /></div>
                        <div id="companiesList">
                            @Html.Partial("_CompaniesList", Model.Companies)
                        </div>
                    </div>
                    <div class="fl"><input id="addCompany" type="button" class="button" value="Add" /></div>
                </div>
               

                <div class="oh p30t">
                    <div class="fl m50r w200">FIRST DAY OF THE YEAR</div>
                    <div class="fl h30">
                        @Html.SelectBox("startDates", Model.YearStartDates, Model.SelectedYearStartDate)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>