@{ ViewBag.Title = "Types and Subtypes Settings"; }
@model Accounts.Models.ViewModels.Settings.TypesSubtypesViewModel

@Html.Partial("_Styles")
@Html.Partial("_Scripts")
<link rel="stylesheet" href="~/Content/css/Settings.css">
<script src="~/Content/jqueryUI/jquery-ui.js"></script>
<script src="~/Content/js/Accounts.Settings.TypesSubtypes.js"></script>

<div id="main" class="oh">
    @Html.Partial("_Header")   
    
    <div id="content" class="dt wFull">
        @Html.Partial("_Menu")

        <div id="right" class="dtc wFull">
            <div id="topPanel" class="dt wFull">
                <div class="dtc w50"><div id="ipadMenu"></div></div>
                <div class="dtc">TYPES AND SUBTYPES SETTINGS</div>
            </div>


            <div class="typesSettings m100l">
                <div class="oh p45t p50b">
                    <div class="addNewType m30l">
                        <input id="newType" type="text" placeholder="Create Type" />
                    </div>
                    <div id="typesList">
                        @Html.Partial("_TypesList", Model)
                    </div>
                </div>
            </div>
        </div>
        @*<br /><br /><br /><br /><br />*@
    </div>
</div>